// my-app/prisma.config.ts
import { PrismaConfig } from '@prisma/client';

const config: PrismaConfig = {
  client: {
    // URL classique si tu veux Postgres direct
    adapter: process.env.DATABASE_URL,
    // ou Accelerate
    // accelerateUrl: process.env.PRISMA_ACCELERATE_URL,
  },
};

export default config;